.button {
  font: inherit;
  border: 1px solid #5f9ea0;
  background: #5f9ea0;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #097f88;
  border-color: #097f88;
}

.button:focus {
  outline: none;
}
